<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <!-- <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Shoreline</h4>
          <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
        </div>
      </div>
    </div> -->

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0" *ngFor="let n of news">
      <div class="col-lg-6">
        <img class="img-fluid" [src]="n.imagen" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{ n.title }}</h4>
              <p class="mb-0 text-white-50">{{ (n.description.length > 50)? (n.description | slice:0:30)+'..':(n.description) }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
